body {
    display: flex;
    flex-direction: column;
    background-color: #264653;
    color: #e9c46a;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-size: 20px;
}

.intro {
    background-color: #023047;
}

.intro p {
    padding-left: 5vmin;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bannerImg {
    max-width: 30vmin;
    max-height: 20vmin;
    margin-top: 10vmin;
}

a {
    color: #f4a261;
}

a:hover {
    color: #e76f51;
}

h1 {
    font-size: 7vmin;
    text-align: center;
    padding-top: 10vmin;
}


@media screen and (max-width: 599px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .bannerImg {
        display: none;
    }
}

